
# python chaff...
__pycache__/
*.py[cod]
*$py.class
.pytest_cache

# IPython & Jupyter
profile_default/
ipython_config.py
.ipynb_checkpoints

# MacOS exclusions...
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
Thumbs.db
._*

.vscode

# caches from API call
**/cache

## Dask stuff
*.lock
dask-worker-space
mydask.png
dask-report.html

